@import "~bootstrap/scss/bootstrap.scss";

.barra{
    background-color: black;
    width: 20px;
    height: 150px;
    margin: auto;
  };
  
  .traffic-light{
    background-color: black;
    width: 150px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    padding-top: 20px;
  };

  .red{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    margin: auto;
    margin-bottom: 20px;
};

.orange{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: orange;
    margin: auto;
    margin-bottom: 20px;
};

.green{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: green;
    margin: auto;
;}

.glow {
    
    box-shadow: 0px 0px 9px 4px #f8b44f;
    
  };
  